body {
    background-image: url('https://images.hdqwalls.com/download/stranger-things-season4-sq-2560x1440.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.centralizado {
    text-align: center;
    color: aliceblue;
}

h1 {
    margin-top: auto;
}
li{
    color: aliceblue;
}

h2{
    color: rgb(255, 3, 221);
}
p{
    color: rgb(7, 11, 15);
}

a{
    color: rgb(243, 0, 186);
}
h3{
    color: aliceblue;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}